@import '~/styles/variables.scss';

html {
  font-family: "Quicksand", "sans-serif";
  font-size: 16px;
  background-color: $color-1;
  color: white;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-size: 2.5rem;

  @media (max-width: $width-ipad-air-landscape) {
    font-size: 2rem;
  }
}

p, a, h5 {
  font-size: 1rem;
}

a {
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

code {
  user-select: text;
  cursor: text;
  padding: 5px;
}
