@import '~/styles/variables.scss';

.u-mobileOnly {
  display: none !important;

  @media (max-width: $width-mobile) {
    display: flex !important;
  }
}

.u-tabletMobileOnly {
  display: none !important;

  @media (max-width: $width-ipad-air-portrait) {
    display: flex !important;
  }
}

.u-scroll--disabled {
  overflow: initial;

  @media (max-width: $width-ipad-air-portrait) {
    height: 100vh;
    overflow: hidden;
  }
}
