@import '~/styles/variables.scss';

.u-mobileOnly {
  display: none !important;

  @media (max-width: $width-mobile) {
    display: flex !important;
  }
}

.u-tabletMobileOnly {
  display: none !important;

  @media (max-width: $width-ipad-air-portrait) {
    display: flex !important;
  }
}


.u-desktopTabletOnly {
  display: block;

  @media (max-width: $width-mobile) {
    display: none !important;
  }
}

.u-desktopOnly {
  display: block;

  @media (max-width: $width-ipad-air-portrait) {
    display: none !important;
  }
}

.u-mb {
  margin-bottom: 15px;
}

.u-commonFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.u-listItemContainer {
  margin-bottom: 20px;
  border: 1px solid #6947d1;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.u-center {
  text-align: center;
}
