$color-1: #301C6D;
$color-2: #392284;
$color-3: #4B29A3;
$color-4: #6947D1;
$color-5: #7D51EF;

$width-mobile: 767px;
$width-ipad-air-portrait: 768px;
$width-ipad-air-landscape: 1024px;
$width-ipad-pro-landscape: 1366px;
$width-desktop-small: 1504px;
$width-desktop-large: 2260px;
